.cabecalho {
     align-items: center;
     display: flex;
     justify-content: space-between;
     margin-bottom: 3rem;
}

@media screen and (max-width: 768px) {
     .cabecalho__imagem-icone {
          width: 50%;
     }

     .cabecalho__imagem {
          width: 50%;
     }
}

@media screen and (min-width: 769px) {
     .cabecalho__imagem {
          width: 50%;
     }
}